.typ-btn-grass {
    background-color: #91BE19;
}

.typ-btn-border-grass {
    border-color: #b4f000;
}

.typ-btn-poison {
    background-color: #BD77BD;
}



.typ-btn-grass {
    background-color: #91BE19;
}

.typ-btn-grass {
    background-color: #91BE19;
}

.typ-btn-grass {
    background-color: #91BE19;
}

.typ-btn-grass {
    background-color: #91BE19;
}
