.bar-color-fire {
    background-color: #F19B62;
}

.bar-color-grass {
    background-color: #63CF9B;
}

.bar-color-fairy {
    background-color: #E49390;
}

.bar-color-water {
    background-color: #648EA6;
}

.bar-color-psychic {
    background-color: #7C456D;
}

.bar-color-flying {
    background-color: #9BA6F5;
}

.bar-color-electric {
    background-color: #FFBF16;
}