.first_header {
    position: fixed;
    top: 0;
    left: 0;
    height: 4vh;
    width: 100%;
    background-color: #DEDEDE;
}

.animation {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: loopanimationUserInfos 30s linear infinite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-text {
    /* display: none; */
    color: #2197FF;
    font-size: 18px;
}

@keyframes loopanimationUserInfos {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.header {
    position: fixed;
    top: 4vh;
    left: 0;
    bottom: 0;
    right: 0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2197FF;
}

.header img {
    height: 40%;
    width: 70%;
}

.button-box button {
    height: 3vh;
    background-color: #2197FF;
    color: white;
    border: 1px solid #57bcfa;
    border-radius: 8px;
    margin: 0 8px 0 8px;
}

.button-box button:hover {
    height: 3vh;
    background-color: #e6eef2;
    color: white;
    border: 1px solid #57bcfa;
    border-radius: 8px;
}