.first_header {
    position: fixed;
    top: 0;
    left: 0;
    height: 2vh;
    width: 100%;
    background-color: #0A141E;
    z-index: 5;
}

.animation {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: loopanimationUserInfos 30s linear infinite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-text {
    /* display: none; */
    color: #2197FF;
    font-size: 18px;
}

@keyframes loopanimationUserInfos {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.entryheader {
    height: 2vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header {
    position: fixed;
    top: 2vh;
    left: 0;
    bottom: 0;
    right: 0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A141E;
    z-index: 6;
}

.header img {
    height: 40%;
    width: 70%;
    filter: drop-shadow(2px 4px 6px #ffffff);
}

.mainheadercontent {
    display: flex;
}

.button-box button {
    color: #B3EAFE;
    font-size: 24px;
    width: 120px;
    border: 1px solid rgb(70,110,154);
    border-radius: 8px;
    margin: 0 8px 0 8px;
    cursor: pointer;
    background-color: #0A141E;
    box-shadow: 0px 0px 2px 2px #466e9a;
}

.button-box button:hover {
    height: 3vh;
    color: white;
    border: 1px solid #57bcfa;
    border-radius: 8px;
}