.pokemons-background-container {
    margin-top: 12vh;
    /* background-color: #0A141E; */
}

.pokemons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35vh;
    width: 15%;
    background-color: #E0E0E0;
}

.pokemon-box:hover {
    cursor: pointer;
}

.distances {
    margin: 8px 1.25% 8px 1.25%; /* margin order: top, right, bottom, and left */
}

.pokemon-box img {
    width: 70%;
    height: 60%;
}

.pokemon-name span {
    font-size: 28px;
    color: #2197FF;
    margin-top: 10px;
    font-style: 500 italic;
}