.pokemons-background-container {
    margin-top: 12vh;
    background-color: #0A141E;
    /* background-image: url('../img2/test.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.pokemons {
    background-image: url('../img2/test.jpg');
    /* background-repeat: no-repeat;
    background-size: cover; */
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon-box {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    height: 35vh;
    width: 15%;
    background-color: #0A141E;
    border: 2px solid #466E9A;
    border-radius: 12px;
}

.pokemon-box:hover {
    cursor: pointer;
}

.distances {
    margin: 8px 1.25% 8px 1.25%; /* margin order: top, right, bottom, and left */
}

.pokemon-box-img-wrapper{
    width: 70%;
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    
}

.pokemon-box-img {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    filter: drop-shadow(2px 4px 6px #ffffff);
}

.pokemon-box-pokeball{
    width: 9.5vw;
    height: 9.5vw;
    border-radius: 100%;
    border: 1px solid #466E9A;
    position: absolute;
    /* box-shadow: inset 0px 0px 10px 0px #0C1721; */
    box-shadow: inset 0px 0px 50px 24px #466E9A;
    z-index: 1;

    /* padding: 20px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeball-line{
    height: 30px;
    background-color: #0A141E;
    width: 110%;
    margin: 0 -15px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(-12deg);
}

.pokeball-void-circle{
    width: 3vw;
    height: 3vw;

    border-radius: 100%;
    background-color: #0A141E;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeball-button{
    width: 50%;
    height: 50%;

    border-radius: 100%;
    background-color: #466E9A;
}



.pokemon-name span {
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgb(0 0 0 / 75%);
}

.typ-buttons-container {
    background-color: rgba(109, 108, 108, 0.75);
}

.typ-btn {
    padding: 8%;
}