body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.page_padding {
    padding: 0 5% 0 5%; /* padding order: top right bottom left */
}

.d-none {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-start-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.padding-five-percent {
    padding: 5%;
}

.z-index-minus {
    z-index: -1;
}

.margin-left-right {
    margin: 0 5% 0 5%;
}

.mb-8 {
    margin-bottom: 8px;
}

.bgtest {
    background-color: rgba(77, 76, 76, 0.125);
}

.z-index-6 {
    z-index: 6;
}